body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#div-top {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}

#div-main {
    width: auto;
    display: flex;
    background-color: lightpink;
    flex-direction: row;
    margin-bottom: 20px;
}
    #div-main img {
        width: 140px;
        cursor: pointer;
    }
#div-left {
    width: auto;
    height: auto;
    font-family: Arial;
    font-size: small;
}

    #div-left h3 {
        text-align: center;
    }

#div-containt {
    width: auto;
    height: auto;
    background-color: #d9a3d6;
}



.card-pro {
    font-size: 20px;
    color: red;
    font-weight: 400;
}

    .card-pro img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card-pro p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

.div-link {
    font-size: 30px;
    margin-left: 30%;
}

    .div-link a {
        color: #d63076;
    }
.navbar {
    width: 58%;
    margin-right: auto;
    ;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 35px;
}

    .navbar ul li a {
        text-decoration: none;
        color: #5f5f5f;
        font-size: 15px;
    }
