
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/SongLayout.cshtml";
    <link href="~/Content/song.css" rel="stylesheet" />
    <meta charset="utf-8" />
}
<div class="container">
    <div class="navbar">
        <img src="~/Content/images/gun.png" class="logo" />
        <ul>
            <li><a href="~/Users/Dangkitk">Tạo Tài Khoản</a></li>
            <li><a href="~/Users/Index">Đăng Nhập</a></li>
            <li><a href="~/Casi/Index">Ca Sĩ</a></li>
            <li><a href="~/Song/SongPlayList">Danh Sách Nhạc</a></li>
            
        </ul>
    </div>
    <div class=" left-col">
        <h2> CHÀO MỪNG ĐẾN VỚI NBTD ENTERTAIMENT</h2>
    </div>
    </div>




