<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CasiStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="background"></div>
        <!--<div style="width:100%"; height:50px; background-color:aquamarine;"></div>-->
        <!--<div style-"display:flex;flex-direction:row">-->
        <div id="div-main">
        </div>
        <div class="container">
            <div class="navbar">
                <img src="~/Content/images/gun.png" class="logo" />
                <ul>
                    <li><a href="@Url.Action("LogOutAcount","Users")">Đăng Xuất</a></li>
                   

                </ul>
            </div>



        </div>
    </div>
    <div>
        <div id="div-containt">

            @RenderBody()
        </div>
    </div>
</html>
