<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/style.css" rel="stylesheet" />*@
</head>
<body>
    <div class="background"></div>
    <div style="width:100%" ; height:50px; background-color:aquamarine;"></div>
    <div style-"display:flex;flex-direction:row">

        <div id="div-main">

            <div id="div-left">
                @*<h3>NBTD ENTERTAINMENT</h3>*@


            </div>
        </div>
        <div id="div-containt">

            @RenderBody()
        </div>
        </div>
</body>
</html>

